<% include partials/header %>

<div class="container">
    <div class="row justify-content-center">
        <input type="text" class="form-control" placeholder="...">
        <button type="button" class="btn btn-outline-primary">Search</button>
    </div>
</div>

    <div class="container-fluid">
            <table class="table table-responsive-md">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Tel. Number</th>
                  <th scope="col" class="d-none d-md-table-cell">E-mail Address</th>
                  <th scope="col">Address</th>
                  <th scope="col" class="d-none d-md-table-cell">Zip Code</th>
                  <th scope="col">City</th>
                </tr>
              </thead>
              <tbody>
                <% contacts.forEach((contacts) => { %>
                    <tr class="addressRow">
                        <td> <%= contacts.name %></td>
                        <td> <%= contacts.cell %></td>
                        <td class="d-none d-md-table-cell"> <%= contacts.email %></td>
                        <td> <%= contacts.street %></td>
                        <td class="d-none d-md-table-cell"> <%= contacts.postcode %></td>
                        <td> <%= contacts.city %></td>
                    </tr>
                <% }) %>
              </tbody>
            </table>
          </div>

<% include partials/footer %>