<% include partials/header %>

<div class="container mainBody">
    <ul class="list-group list-group-flush row justify-content-center">
        <li class="list-group-item col-4">
            <%= contact.name %>
        </li>
        <li class="list-group-item col-4">
            <%= contact.cell %>
        </li>
        <li class="list-group-item col-4">
            <%= contact.email %>
        </li>
        <li class="list-group-item col-4">
            <%= contact.street %>
        </li>
        <li class="list-group-item col-4">
            <%= contact.postcode %>
        </li>
        <li class="list-group-item col-4">
            <%= contact.city %>
        </li>
    </ul>
</div>


<% include partials/footer %>